/* 
    General Styles
*/

body{
    background: #a89ef2;
}
.appWords{
    margin-bottom: 30px;
}
.login{
    box-sizing: border-box;

position: absolute;
width: 627px;
height: 710px;
left: 443px;
top: 136px;

background: #eddd9e00;
border: 1px solid #000000;
border-radius: 200px;

}
.firstLetter{
  font-size: xxx-large;
    font-family: fantasy;
}

.logo{
    position: relative;
    width: 216px;
    height: 147px;    
    left: 93px;
    margin-bottom: 25px;
    animation: wiggle 2s linear infinite;
    position: absolute;
  left: calc(50% - 3em);
  top: calc(50% - 2em);
  
  height: 4em;
  width: 7em;
  
  border: none;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
  position: absolute;

  height: 102px;
  width: 202px;
}
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

.emailRec{
    position: absolute;
width: 423px;
height: 75px;
left: 526px;
top: 387px;

background: #FFFFFF;
border-radius: 200px;
}
.pwInput{
background: #FFFFFF;
border-radius: 0px 200px 200px 0px;
width: 400px;
margin: auto;
}
.emInput{
    background: #FFFFFF;
    border-radius: 0px 200px 200px 0px;
    width: 400px;
    margin: auto;
    height: 39px;
}

.loginbut{
background: #4999EE;
border-radius: 200px;
}
.emailCircle{
  position: absolute;
  width: 43px;
  height: 44px;
  left: -33px;
  top: 22px;
  background: #FF0000;
  border-radius: 200px;
}

.pwSquare{
    position: absolute;
    width: 42px;
    height: 38px;
    left: -33px;
    bottom: 187px;    
    background: #FFD200;
}

.bg-lightGreen{
    background-color: #09F209;

}
.MDiv{
    background-color: aqua;
}
.appTitle{
    background-color: aqua;

}
.everything{
    position: absolute;
    bottom: 181px;
    right: 99px;
}

html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  .img1{
    height: 164px;
    width: 206px;
    position: absolute;
    left: -63px;
    bottom: 253px;
}
  