/* 
    General Styles
*/

body{
    background: #a89ef2;
}

.appWords{
    margin-bottom: 30px;
}

.login{
box-sizing: border-box;
position: absolute;
width: 627px;
height: 710px;
left: 443px;
top: 136px;
background: #EDDD9E;
border: 1px solid #000000;
border-radius: 200px;
}

.logo{
    position: relative;
    width: 216px;
    height: 147px;    
    left: 93px;
    margin-bottom: 25px;
}

.emailRec{
    position: absolute;
width: 423px;
height: 75px;
left: 526px;
top: 387px;

background: #FFFFFF;
border-radius: 200px;
}

.pwInput{
background: #FFFFFF;
border-radius: 0px 200px 200px 0px;
width: 400px;
margin: auto;
}

.emInput{
    background: #FFFFFF;
    border-radius: 0px 200px 200px 0px;
    width: 400px;
    margin: auto;
    height: 39px;
}

.loginbut{
background: #4999EE;
border-radius: 200px;
}

.emailCircle{
    position: absolute;
    width: 43px;
    height: 40px;
    left: 102px;
    top: 236px;    
    background: #FF0000;
    border-radius: 200px;
}

.pwSquare{
    position: absolute;
    width: 42px;
    height: 38px;
    left: 103px;
    bottom: 355px;
    background: #FFD200;
}

.img1{
    height: 157px;
    width: 239px;
    position: absolute;
    bottom: 347px;

}

.bg-lightGreen{
    background-color: #09F209;
}

.MDiv{
    background-color: aqua;
}

.appTitle{
    background-color: aqua;
}